[CONFIG]
statusURL:YOUR_DISCORD_WEBHOOK_HERE_(FOR_GENERAL_STATS)

[DEVICE-STATUS-CONFIG]
device_statusURL:YOUR_DISCORD_WEBHOOK_HERE_(FOR_DEVICE_OFLINE_WARNINGS)

[DATABASE]
STATS_DB_NAME=YOUR_DB_NAME_HERE
STATS_DB_HOST=YOUR_HOST_IP_HERE_(EXAMPLE:127.0.0.1)
STATS_DB_USER=YOUR_DB_USER_HERE
STATS_DB_PASSWORD=YOUR_DB_PASS_HERE
